
<div class="jumbotron center">
 		<h2>welcome to</h2>
     <h1>dahero</h1>
 <% if user_signed_in? %>
     
     
     click here to get started

    <% else %>
  <p>
       <%= link_to "Log in", user_session_path, class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>  
 <% end %>
</div>

